<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
	<style>
		.keys > li {
			display: none
		}
	</style>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <input type="text" id="ws" placeholder="W3VIB!M+1H">
		<input type="submit" value="Translate" onclick="doTheThing(document.getElementById('ws'))">
		<ul class="keys">
			<li class="key" id="warnLevel">Warning level 3</li>
			<li class="key" id="isVoice">Applies to voice</li>
			<li class="key" id="isIdentifiable">Identifiable</li>
			<li class="key" id="isBannable">Bannable</li>
			<li class="key" id="isMutable">Mutable</li>
			<li class="key" id="isInstant">Instant</li>
			<li class="key" id="warnTime">Timed punishment for 1H</li>
		</ul>
	</div>

	<script>
		const doTheThing = (th) => {
			if (th.value == "") th.value = "W3VIB!M+1H";
			document.querySelectorAll('.key').forEach(elem => elem.style.display = 'none');
			const obj = iF.translate(th.value);
			Object.keys(obj).forEach(key => {
				if (document.getElementById(key) && obj[key] !== false) {
					document.getElementById(key).style.display = 'block';
				}
			})
			document.getElementById('warnLevel').innerText = 'Warning level ' + obj.warnLevel;
		}
	</script>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>