<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <input type="text" id="ws" placeholder="W3VIB!M+1H">
		<input type="submit" value="Translate">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>